@media only screen and (min-width: 960px){
/*---------------Paragraph Styles------------------*/
h1 {
    font-family: 'Adamina Regular';
    font-size: .9em;
    line-height: 1.25em;
}
h2 {
    font-size: 1.75em;
    line-height: 2em;
    letter-spacing: .02em; 
}
h3 {
    font-size: 1.25em;
    letter-spacing: .05em;
}

.gallerygrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
}
header {
    grid-template-columns: 2fr 6fr 2fr; 
}
header .logotextcontainer{
    grid-column: 1;
    grid-row: 2;
}
nav{
    position: relative;
    max-width: 100%; 
    bottom: 0%;
    right: 0%;
    background-color: transparent; 
    grid-column: 2;
    grid-row: 2; 
}
header .calltoaction{
    display: hidden; 
    grid-column: 3;
    grid-row: 2; 
    align-self: center;
}
.site-navigation{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}
nav li {
  padding: 10;
  position: relative;
  align-content: center; 
  display: inline-flex; 
}
nav a{
    color: #000000;
}
nav .dropdown{
    display: inline-flex;
}
nav li:first-child {
    display: none;
}
nav a:hover {
	background-color: #e9cb70;
    color: #fff;
    font-weight: bolder;
}
.active {
    background-color: #e9cb70;
    color: #333333;
    font-weight: bolder;
}
.herocontainer button{
    font-size: 1.5em;
    padding: .45em;
}
}