@media only screen and (min-width: 960px){
*{
    line-height: 1.25em; 
}
/*---------------Paragraph Styles------------------*/

h1{
    font-size: 1.25em;
}

/*---------------Navigation------------------*/
nav{
    position: relative;
    background-color: transparent;
    grid-template-columns: repeat(6, 1fr);

}
.dropdown{
    display: grid; 
}
nav li:first-child {
display: none;
}
nav a:hover {
	background-color: #e9cb70;
    color: #fff;
    font-weight: bolder;
}
.active {
    background-color: #e9cb70;
    color: #333333;
    font-weight: bolder;
}
}