
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding:0;
    line-height: 1.25em;
    text-align: center;
    color: var(--templeblack);
    list-style: none; 
}
:root{
    --templeblack: #393d42;
    --templepurple: #555B6E;
    --templeblue: #7C99B4;
    --templewhite: #e8e8e8;
    --templegold: #E9cb70;
    --transtemplegold: rgba(233, 203, 112, 0.3);
    --transtemplepurple: rgba(85,91,110,0.3);
    --transtempleblue: rgba(124,153,180,0.3);
    --transtempleblack: rgba(0,0,5,.3); 

}
head{
    visibility: hidden; 
}
body{
    max-width: 960px;
    background: var(--templewhite);
    align-content: center;
    margin: auto;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around; 
    justify-items: center;
    justify-content: space-around;
    align-self: center;
    align-items: center; 

}
img{
    max-width:100%; 
}
/*---------------Paragraph Styles------------------*/
h1{
    font-size: 1em;
    font-family: 'Heebo', sans-serif;
}
h2{
    font-size: 1.25em;
    color: #fff; 
    text-shadow: .04em .04em var(--templeblack);
    letter-spacing: .015em; 
}
h3{
    font-size: 1.25em;
    color: var(--templeblue); 
    letter-spacing: .05em;
    text-shadow: .001em .001em #000000;
}
h4{
    font-size: 1.2em;
    font-family: 'Heebo'; 
}
h5{
    font-weight: normal; 
    font-size: 1.1em;
    color: var(--templepurple);
    letter-spacing: loose; 
}
pre {
  white-space: pre;
  color: #fff;
  font-size: .9em; 
  text-align: center;
  margin: .5em;
  background-color: var(--templeblack);
  line-height: .5em;   
}
button{
    background-color: transparent; 
    border-width: 2px;
    border-style: double;
    border-color: #e9cb70;
    border-image: initial;
    color: black;
    text-shadow: .04em .04em #393D42;
    letter-spacing: .02em; 
    padding: .3em;
}
button:hover{
    background-color: var(--templegold); 
}
/*---------------HEADER------------------*/
header{
    display: grid; 
    grid-template-columns: 3fr repeat(6, .25fr) 3fr;
    grid-row-gap: 1em;
    align-items: center;
    justify-items: center; 
}
main{
    background-color: #fff; 
}
.callbanner{
    grid-column:1/9;
    width: 100%;
    background-color: var(--templeblack);
    display: inline-flex; 
    flex-wrap: wrap;
    justify-content: center; 
}
.logoandcompany{
    display: flex;
    grid-column: 1;
    grid-row: 2;
    position: relative;
    min-width:  100px; 
}
.logoandcompany img{
    position: absolute; 
    left: -.02em; 
    top: .1em;
    z-index: -1; 
}
.logocompany .h1{
    position: absolute;
    right: 1em; 
}
.headspacebutton{
    grid-column: 8;
    grid-row: 2;
    font-size: .8em; 
/*---------------Navigation------------------*/
}
nav{
    list-style-type: none;
    background-color: var(--templegold);
    grid-column: 3/7;
    grid-row: 2; 
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-column-gap: 1em;
    position: fixed;
    bottom: 5%;
    right: 3%; 
    z-index: 1; 
}
nav ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-column-gap: 1em;
}
.dropdown{
    display: none;
}
nav a{
    text-decoration: none;
}
nav li:hover {
    border: solid #fff;
}
nav a:hover{
    color: #000000;
    font-weight: bolder;
}
.active {
    background-color: #fff;
    color: #333333;
    font-weight: bolder;
}
.responsive nav{
    width: 50%;
    height: 70%;  
}
.responsive .dropdown {
    display: grid;
    grid-template-rows: 1fr; 
    grid-gap: 1em; 
}


/*---------------Hero------------------*/
.heroimage{
    grid-row: 3;
    grid-column: 1/9;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}
.heroforeground{
    position: absolute;
}
.herobutton button{
    margin: 1em;
    border-color: #fff;
    color: #fff;  
}

/*---------------Footer------------------*/
.footerbar{
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 1em;
    background-color: var(--templeblue);
    color: #fff;
}
.sociallinks{
    grid-column: 4/9;
    grid-row: 2; 
    display: flex;
    justify-content: space-around;
    align-content: flex-end; 
}
.footerinfo{
    grid-column: 2/12;
    grid-row: 3; 
    margin-bottom: 2em; 
}
.footerbar a{
    color: #fff;
    text-decoration: none;
}
.footerbar a:visited{
    color: #777;
    text-decoration: none; 
}
/*---------------Feature Temple Grid layout------------------*/

.featuretemple{
display: grid;
justify-items: center;
grid-column-gap: 1em;
padding-top: 2%; 

}
.featuretemple .quote, .featuretemple .headline{
    display: flex; 
    align-items: center;
    min-height: 200px; 
    background-color: #fff;
    padding: 10%;

}
.featuretemplepics{
    padding: 2% 0; 
    display: grid;
    grid-gap: .2em; 
}
/*---------------Temples Grid layout------------------*/
.templewrapper{
    margin: 2%; 
    padding: 2%; 
    border-top: solid var(--templegold);
    display: grid; 
    grid-gap: 2em;
}

.tImage{
    max-width: 250px; 
}
.tTitle{
    background-color: var(--transtemplegold);
    display: flex; 
    flex-flow: column; 
    align-content: center;
    justify-content: center;  
}
.templeinfotitle{
    padding: 5%; 
}


/*---------------Temple Facts Grids------------------*/
.factsgrid, .weatherdetails{
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: .5em 1em;
    justify-content: baseline;  
}
.label{
    text-align: right;
     
}
.value{
    text-align: left; 
    display: flex;
    align-items: center; ; 
}

.tSchedule .factsgrid{ 
grid-template-columns: 2fr 2fr 4fr; 
}
.factsgrid .no{
    color: red;
    font-weight: bolder; 
}
.factsgrid .yes{
    color: green;
    font-weight: bolder;  
}
/*---------------Reservations Form------------------*/

form fieldset{
    flex-direction: column; 
    margin: 2rem .25rem;
    border: 1px solid var(--templepurple);
    border-radius: 10px;
    padding: .5rem 2%; 
    display: inline-flex;
    align-self: left;
    justify-content: flex-start; 
}
form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bold; 
}
form label.top, form div {
    width: 100%; 
    padding-top: 1rem; 
    color: black;
    font-size: .9rem;
}
form label.top input, form label.top select, form label.top textarea{
    font-size: 1.25em;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 40rem;
    background-color: lightgrey;
}

.radiocontainer{
    padding: 0; 
    margin-left: 1em; 
}
.radiocontainer input{
    margin-right: .75em;
}
.sbs{
    margin-top: .4em;
    margin-left: .4em; 
    width: auto;
    padding: .5em .5em; 
}
form input.submitBtn{
    border-color: #e9cb70;
    border-width: 5px; 
    color: black; 
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%; 
    width: 96%;
    max-width: 18rem;
    text-shadow: .04em .04em #393D42;
    letter-spacing: .02em;
    border-style: double;
    border-image: initial;
    background-color: transparent;
    border-width: 2px; 

}
form input.submitBtn:hover{
    background-color: var(--templegold); 
}
form label.top input:required{
    border: red solid 1px;
}
form label.top input:required:valid{
    border: black solid 1px;
}
.successmessage{
    margin-bottom: 25rem;
    margin-top: 8rem; 
}

/*---------------Services------------------*/
.freeamenities li, .specializedservices li{
    text-align: left;
    padding: .25em;
    margin-left: 2em; 
}
/*---------------Missionaries------------------*/
.missionarysuites{
    padding-top: 5%; 
}
.suitesgallery{
    display: grid;
    grid-gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%; 
}
/*---------------Contact------------------*/
.contactform{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.contactinfo {
    display: flex; 
    flex-direction: column;
    align-self: center;
    max-width: 50%;
    padding: 5%;  
}
iframe{
    padding: 5%; 
    max-width: 100%; 
}
/*---------------services------------------*/
.servicescontaienr{
    display: felx;
    flex-direction: column; 
    align-content: center;
    justify-content: start;
    padding: 5%;
    flex-wrap: wrap;
    max-width: 75%;  
}
.freeamenities, .specializedservices{
    display: flex;
    flex-direction: column; 
    padding: 5% 10% 2% 10%; 
}
.servicescontainer h3{
    padding: 5%; 
}
.servicebuttons{
    padding: 5%; 
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-around;
    align-content: space-around; 
}
.receptionbutton, .missionariesbutton{
    margin: 2%; 
   
}
.receptioninfo, .foodservice{
 margin: 2%; 
 padding: 2%
}
.foodservice ul{
    display: grid;
    grid-gap: 1em;
    padding: 2%; 
}


